// style.scss

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    border: 2px solid red;
    margin: 0 auto;
    padding: 20px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .item {
        position: relative;
        width: calc((100% - 60px) / 4);
        img {
            width: 100%;
        }
        .info {
            position: absolute;
            background: #000;
            left: 0;
            top: 0;
            color: #fff;
            padding: 10px;
            width: 100%;
            height: 100%;
            display: none;
        }
        // item(부모 요소)가 hover되면 .info 보임
        &:hover .info { display: block; }
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    width: 100%;
    height: 100vh;
    // display: flex;
    display: none;
    justify-content: center;
    align-items: center;

    .btn_close {
        position: absolute;
        right: 30px;
        top: 30px;
    }   
}

.modal.show { 
    display: block;
}